* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  overflow-x: hidden;
}
button:focus {
  outline: none;
}
.light {
  position: relative;
  top: -25px;
}
.navbar-nav {
  padding: 0px !important;
  margin: 0px !important;
}
.pb_section {
  padding: 5em 0 !important;
}

