.itemsPage {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px 5px 5px 15%;
  color: rgb(5, 5, 5);
  justify-items: center;
  grid-gap: 10px;
}
.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 30px; */
  justify-content: center;
  align-items: center;
  /* min-height: 33vh; */
  background-color: #fcfcfc;
  margin: 0px 0px;
  /* border-radius: 10px; */
  -webkit-box-shadow: 15px 20px 21px -11px rgba(0, 0, 0, 0.69);
  box-shadow: 15px 20px 21px -11px rgba(0, 0, 0, 0.69);
  transform: scale(0.87) skew(0deg, -4deg);
}
/* .grid:hover {
  border: 1px solid rgb(41, 41, 41);
} */
.grid p {
  margin: 15px;
}
.grid button {
  border: 0.1px solid black !important;
  /* background-color: rgba(20, 75, 255, 0.952); */
  background-color: transparent;
  color: black;
  /* margin: 0 0 0 20px; */
  /* color: white; */
  /* padding: 1rem;
  border-radius: 9px;
  width: 50%; */
  /* transition: all 0.4s ease-in-out; */
}
.grid button:hover {
  /* font-weight: bold;
  padding: 1rem 1.2rem;
  margin: 0px;
  width: 100%; */
  background-color: rgba(0, 0, 0, 0.836) !important;
  color: white !important;
  border: 0.1px solid white !important;
}

.d {
  margin: 10px;
  width: 90%;
  text-align: center;
  font-weight: bold;
}
.grid img {
  display: block;
  background-color: #fce77d;
  width: 100%;
  height: 40vh;
  /* border-radius: 9px; */
  color: black;
}
@media screen and (max-width: 968px) {
  .itemsPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
  .grid img {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .itemsPage {
    display: grid;
    grid-template-columns: 1fr;
    width: 65%;
    justify-content: center;
    margin: 10px auto;
  }
  .grid {
    height: 69vh;
  }
  /* .grid img {
    width: 100%;
  } */
}
